<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cataleg</title>
  <link rel="stylesheet" href="cataleg.component.css">
  <link rel="stylesheet" href="../../assets/css/Default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
<header>
  <a routerLink="/" routerLinkActive="active"><img id="title" src="../../assets/images/LogoWeb2.png" alt=""></a>
</header>
<nav id="menu">
  <a routerLink="../inici/inici.html" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
</nav>
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a></li>
      <li><a routerLink="/registre" routerLinkActive="active">Registre Client</a></li>
      <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a></li>
      <li><a routerLink="/condicions" routerLinkActive="active">Condicions</a></li>
      <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a></li>
    </ul>
  </nav>
</div>
<hr>
<article class="cataleg" id="cataleg">
</article>
<footer>
  <iframe src="../../assets/html/Footer.html"></iframe>
</footer>
<script type="text/javascript"> /** Recomano minimitzar o comprimir els altres apartats per veure millor aquest **/
  let cataleg = document.getElementById("cataleg");

  infoProductes = [
    {
    id:"llibre1",
    name:"Bola de drac",
    desc:"Primera edicio",
    preu: 10.30,
    img: "../../assets/images/BolaDeDrac01.jpg"
    },
    {
      id:"llibre2",
      name:"Narnia",
      desc:"Primera edicio",
      preu: 11.30,
      img: "../../assets/images/Narnia.jpg"
    },
    {
      id:"llibre3",
      name:"Boku no Hero Academia",
      desc:"Primera edicio",
      preu: 7.55,
      img: "../../assets/images/BNHA.png"
    },
    {
      id:"llibre4",
      name:"Los pilares de la Tierra",
      desc:"Primera edicio",
      preu: 11.30,
      img: "../../assets/images/PilaresTierra.png"
    },
     {
       id:"llibre5",
       name:"Guia Basica de Minecraft",
       desc:"",
       preu: 15.89,
       img: "../../assets/images/GuiaMine.png"
     },
     {
       id:"llibre6",
       name:"La cocina de la abuelaa",
       desc:"",
       preu: 18.30,
       img: "../../assets/images/LlibreCuina.png"
     },
     {
       id:"llibre7",
       name:"El señor de los anillos",
       desc:"Primera edicio",
       preu: 17.95,
       img: "../../assets/images/SeñorAnillos.jpg"
     },
     {
       id:"llibre4",
       name:"Como provocar un incendio",
       desc:"",
       preu: 9.49,
       img: "../../assets/images/ComoIncendiar.jpg"
     }];

  let cistella = JSON.parse(localStorage.getItem("data")) || []

  let generarCataleg = () => {
    return (cataleg.innerHTML = infoProductes
      .map((x)=>{
        let {id,name,preu,desc,img } = x;
      return `
    <div id=producte-id-${id} class="producte">
    <img width="220" src=${img} class="img.pro" alt="">
    <div class="info.pro">
      <h3>${name} <br> ${desc} </h3>
      <div class="preu-quantitat">
        <h2>Preu: ${preu} €</h2>
        <div class="BotoCompra">
          <i onclick="afegir(${id})" class="bi bi-cart-plus"></i>
          <div id=${id} class="quantitat"></div>
        </div>
      </div>
    </div>
  </div>
    `;
    }).join(""));
  };

  generarCataleg();

  let afegir = (id) => {
    let producteTriat = id;
    let busqueda = cistella.find((x) => x.id === producteTriat.id);

    if(busqueda === undefined){
      cistella.push({
        id: producteTriat.id,
        item: 1,
      });
    }
    else{
      busqueda.item += 1;
    }
    localStorage.setItem("data", JSON.stringify(cistella))
    console.log(cistella);
  };


</script>
</body>
</html>
