.cataleg{
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1000px){
  .cataleg{
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px){
  .cataleg{
    grid-template-columns: repeat(1, 223px);
  }
}

.producte{
  color: white;
}

.info\.pro{
  display: flex;
  flex-direction: column;
}

.preu-quantitat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BotoCompra{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.BotoCompra:hover{
  color:green;
}

.bi-cart-plus{
  font-size: 26px;
  text-align: center;
}

i{
  cursor: pointer;
}
