*{
  background-color: black;
}
.producte{
  float: left;
  color: white;
  width: 350px
}

.img-pro{
  height: 60%;
  width: 60%;
}

.preu-quantitat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BotoCompra{
  display: flex;
  flex-direction: row;
  color:white;
  border-collapse: collapse;
  border-color: white;
}

.BotoCompra:hover{
  color:green;
  border-color: green;
}

li{
  display: inline;
  color: white;
}

.entrete{
  display: none;
}

.manu{
  display:none;
}
