<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book.net</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<header>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <select *ngIf="autenticat" name="logout" id="logout">
      <option selected hidden>Hola, {{nomAutenticat}}</option>
      <option (click)="tancarSessio()">Tancar sessió</option>
    </select>
  </div>
  <a routerLink="/" routerLinkActive="active"><img id="title" src="assets/images/LogoWeb2.png"></a>
</header>
<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
</nav>
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a></li>
      <li><a routerLink="/registre" routerLinkActive="active">Registre Client</a></li>
      <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a></li>
      <li><a routerLink="/condicions" routerLinkActive="active">Condicions</a></li>
      <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a></li>
    </ul>
  </nav>
</div>
<hr>

</body>
</html>
