*{
  background-color: black;
}
.producte{
  float: left;
  color: white;
  width: 350px
}

.img-pro{
  height: 50%;
  width: 50%;
}

aside {
  color: white;
  float: right;
  padding-right: 20%;
}


button {
  border-color: white;
  color: white;
}
.back{
  width: 15%;
}

input{
  color: white;
}

p{
  color: white;
}

.qty{
  width: 10%;
  margin-left: 10%;
}
