<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Cistella</title>
  <link rel="stylesheet" href="cistella.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
<header>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <select *ngIf="autenticat" name="logout" id="logout">
      <option selected hidden>Hola, {{nomAutenticat}}</option>
      <option (click)="tancarSessio()">Tancar sessió</option>
    </select>
  </div>
  <a routerLink="/" routerLinkActive="active"><img id="title" src="../../assets/images/LogoWeb2.png"></a>
</header>
<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
</nav>
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a></li>
      <li><a routerLink="/registre" routerLinkActive="active">Registre Client</a></li>
      <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a></li>
      <li><a routerLink="/condicions" routerLinkActive="active">Condicions</a></li>
      <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a></li>
    </ul>
  </nav>
</div>
<hr>
</body>
<article>

  <h4 *ngIf="items.length === 0">
   <p>No tents cap producte.<p>
    <button class="back" routerLink="/cataleg"> Torna al cataleg</button></p>
  </h4>

  <div class="producte" *ngFor="let item of items; let i = index">
    <img src="{{item.img}}" alt="" class="img-pro"> <br>
    <h3>{{ item.name }} </h3>
    <h2>
      {{item.preu * item.qty}} € <input type="number" class="qty" [value]="item.qty" (blur)="validateInput($event,i)">
    </h2>
    <button (click)="delete(i)">DELETE</button>
  </div>

</article>
<aside>
  <label for="nom">Nom:</label><br>
  <input *ngIf="!autenticat" type="text" id="nom" name="nom">
  <input *ngIf="autenticat" type="text" id="nom" name="nom" value="{{this.nomAutenticat}}">
  <br>
  <label for="cognom">Cognom:</label><br>
  <input *ngIf="!autenticat" type="text" id="cognom" name="cognom">
  <input *ngIf="autenticat" type="text" id="cognom" name="cognom" value="{{this.cognomsAutenticat}}">
  <br>
  <label for="adreç">Adreça:</label><br>
  <input *ngIf="!autenticat" type="text" id="adreç" name="adreç">
  <input *ngIf="autenticat" type="text" id="adreç" name="adreç" value="{{this.adrecaAutenticat}}">
  <br>
  <label for="TarC">Numero arjeta de credit:</label><br>
  <input type="text" id="TarC" name="TarC">
  <br>
  <label for="caduca">Data caducacio tarjeta:</label><br>
  <input type="date" id="caduca" name="Caduca">
  <br>
  <label>Tria el tpius d'enviament:</label><br>
  <input type="radio" id="opcio1" name="enviament" value="Normal">
  <label for="opcio1">Normal</label><br>
  <input type="radio" id="opcio2" name="enviament" value="Urgent">
  <label for="opcio2">Urgent</label><br>
  <input type="radio" id="opcio3" name="enviament" value="En el mateix dia">
  <label for="opcio3">En el mateix dia</label>
  <h3>Preu total:</h3>
  <h2> {{ calcTotal() }} € </h2>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <button class="button" type="submit">Finalitzar compra</button>
  </form>
</aside>
<footer>
  <iframe src="assets/html/Footer.html"></iframe>
</footer>
</html>
